@import '../../../../styles/variables';

.footer {
    width: 100%;
    color: $white;

    a {
        text-decoration: none;
        color: $white;
    }

    &.summary {
        background-color: lighten($dark, 15%);
        padding: 40px 5%;
        height: auto;
        display: grid;
        grid-template-columns: auto auto auto 1fr;
        grid-template-rows: auto;
        gap: 10px;
        justify-items: center;
        align-items: start;

        > * {
            margin: 0 1em;
        }

        h3 {
            color: $info;
        }
        
        @media (max-width: 992px) {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto;
            gap: 40px;    
            justify-items: start;
            text-align: start;

            h3 {
                text-align: start;
            }
        }       

        .footer-navigation{ 
            list-style-type: none;
            padding-left: 0;
        }
    }

    &.trademark {
        .navbar-brand {
            font-size: small;
        }
    }
}

