// https://coolors.co/6290c3-000000-8c705f-fff3f0-fde12d
// https://coolors.co/6290c3-c0f5fa-8c705f-050505-fde12d

$primary: #312783;
$secondary: #eabd23;
$success: #35FF69;
$info: #B2ECE1;
$warning: #FDE12D;  
$danger: #280004;
$light: #E1E5EE;
$dark: #3d3d3d;
$black: #0e0e0e;

// #7D869C
// #A2ABAB
// #C7CCDB
// #E1E5EE