
@import '../../styles/variables';

.popup {
    background-color: white;

    text-align: center;
    
    p {
        margin-bottom: 0;
    }
}

.body {
    min-width: 366px;
    max-width: 2000px;
    margin: 0 auto;
    background-color: white;
}