@import '../styles/variables';

.grid-container {
    display: grid;

    .images {
        
        img {
            width: 500px;
            height: 300px;
            object-fit: cover;
        }
    }
}


.fill {
    height: 300px;
}