@import '../../styles/variables';

.jumbotron {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;

    img {
        min-width: 100%;
        min-height: 600px;
        position: absolute; /* Position the image within the container */
        left: 0;
        object-fit: cover;
        box-shadow: none !important;
    }
    
    h1, h2, h3 {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: absolute;
    }

    h1 {
        top: 30%;
        color: $info;
        font-size: 5em;
        text-shadow:
            1px 1px 0 $black,
            -1px -1px 0 $black,  
            1px -1px 0 $black,
            -1px 1px 0 $black,
            1px 1px 0 $black,
            5px 5px $black;
        font-weight: 1000;

        @media (max-width: 1200px) {
            font-size: 4em;
        }

        @media (max-width: 992px) {
            font-size: 3.25em;
        }

        @media (max-width: 576px) {
            font-size: 2.5em;
        }
    }

    h2, h3 {
        top: 50%;
        color: $white;
        font-size: 3.5em;
        font-weight: 800;
        text-shadow:
            1px 1px 0 $black,
            -1px -1px 0 $black,  
            1px -1px 0 $black,
            -1px 1px 0 $black,
            1px 1px 0 $black,
            5px 5px $black;
            
        @media (max-width: 1200px) {
            font-size: 3em;
        }

        @media (max-width: 992px) {
            font-size: 2.5em;
        }

        @media (max-width: 576px) {
            top: 45%;
            margin: 0 5%;
            font-size: 2em;
        }
    }
}